pydantic==1.10.4
fastapi==0.91.0
loguru==0.5.3
sqlalchemy==2.0.17
asyncpg==0.27.0
psycopg2-binary==2.9.5
retry==0.9.2
httpx
uvicorn
filetype
libimgsmlr --global-option="build_ext"
pgvector
similarities
torch
